<!doctype html>
<html>
<head>
    <title>Track Attack</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Profile Page</h1>
        <a href="/logout" class="button primary">Log Out</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->

        <div class="col-sm-6">
            <h3>Vehicles</h3>
<!-- tires needs to be added not sure f to make a api or use one -->
            <div class="container-fluid float-left">
              <ul class="list-group vehicles">
                <% for(var i=0; i<vehicles.length; i++) {%>
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span><%= vehicles[i].year %></span>
                    <span><%= vehicles[i].motorcycleBrand %></span>
                    <span><%= vehicles[i].motorcycleModel %></span>
                    <span><%= vehicles[i].engineSize %></span>
                    <!-- <span><button class="btn btn-primary">Add</button></span> -->
                    <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                  </li>
                <% } %>
              </ul>
              <h3>Tires to Try/Use</h3>
              <ul>
                <% for(var i=0; i<vehicles.length; i++) {%>
                  <li>
                    <span><% %> Brand Name</span>
                    <span><% %> Tire Size</span>
                  </li>
                <% } %>
              </ul>
            <!-- find a wau to have the calculator work not sure weather to do intervals or not -->
              <h1>Calorie Calculator</h1>
                <form action="/calculate" id="calculate" method="POST">
                  <label for="height">Height (in inches):</label>
                  <input type="number" id="height" name="height" required>

                  <label for="weight">Weight (in pounds):</label>
                  <input type="number" id="weight" name="weight" required>

                  <label for="age">Weight (in pounds):</label>
                  <input type="number" id="age" name="age" required>

                  <select id="activity" name="activity">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                  </select>

                  <label for="activity">Session Time Total:</label>
                  <select id="activity" name="activity">
                    <option value="1">20 mins</option>
                    <option value="2">40 mins</option>
                    <option value="3">1 hr ()</option>
                    <option value="4">1 Day(7 sessions)</option>
                    <option value="5">Full weekend(2 days or 14 sessions)</option>
                  </select>

                  <button type="submit">Calculate</button>
                </form>
                <h3>Calories Needed <% %></h3>
                
              <table>

              </table>
            
              <form action="/vehicles" method="POST" class="form-horizontal">
                <div class="form-group">
                  <label for="year" class="col-sm-2 control-label">Year:</label>
                  <div class="col-sm-10">
                    <input type="text" name="year" class="form-control">
                  </div>
                </div>
            
                <div class="form-group">
                  <label for="motorcycleBrand" class="col-sm-2 control-label">Brand:</label>
                  <div class="col-sm-10">
                    <input type="text" name="motorcycleBrand" class="form-control">
                  </div>
                </div>
            
                <div class="form-group">
                  <label for="motorcycleModel" class="col-sm-2 control-label">Model:</label>
                  <div class="col-sm-10">
                    <input type="text" name="motorcycleModel" class="form-control">
                  </div>
                </div>
            
                <div class="form-group">
                  <label for="engineSize" class="col-sm-2 control-label">Engine Size:</label>
                  <div class="col-sm-10">
                    <input type="text" name="engineSize" class="form-control">
                  </div>
                </div>
            
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </form>
            </div>
    </div>